version: "3.6"

services:
  operator:
    image: polymathnet/polymesh:debian
    user: "<non-root UID>:<non-root GID>"
    volumes:
      - /var/lib/polymesh:/var/lib/polymesh
    entrypoint:
      - /usr/local/bin/polymesh
    command:
      - --base-path
      -   /var/lib/polymesh
      #- --prometheus-external # Uncomment to allow scraping of metrics from non-localhost addresses
      #- --rpc-external # Uncomment to allow interaction with the jsonrpc service from non-localhost addresses
      #- --rpc-cors    # Uncomment this and next line to disable CORS checks for jsonrpc connections
      #-   all
      - --name
      -  "<operator name>"
      - --operator
      - --wasm-execution
      -   compiled
      - --chain
      -   itn # Default network is Alcyone, to run an ITN node it must be explicitly specified here
    ports:
      - 30333:30333 # default libp2p port
      - 9615:9615   # prometheus exporter port
      - 9933:9933   # jsonrpc port
    ulimits:
      nofile:
        hard: 10240
        soft: 1024
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: any

